*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 63, 81);
    color:white;
    margin:auto;
}
.header{padding:1rem;
}
h3{
    margin:0 6px;
}
p{
    margin:0 6px;
}
img{
    height: 200px;
    width:200px;
    border-radius:200px;
}

.about img{
    width:30px;
    height: 30px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;text-decoration-line: underline; */
}
.about{
    display: flex;
    gap:1rem;
    justify-content: right;
    margin-right: 1rem;
 
}
.me ul{
    list-style: none;
    font-size: 30px;
    display:flex;
    gap:20px;
    padding:1rem;
  
    
}
.me ul li a{
    text-decoration: none;
    color: aliceblue;
}
.container{
    display:flex;
    justify-content: space-between;
}
.main1{
    display:flex;
    padding:1rem;
    gap:1rem;
    margin:auto;
}
.see{
    display:flex;
    align-items: center;
    justify-content:center ;
}
.btn{
   background-color: rgb(9, 9, 9);
    font-size: 30px;
    border-radius: 4px;
     display: flex; 
     width:260px;
     margin-left:1rem; 

    padding:1rem;
    color:white;
    text-decoration: none;

}
.btn:hover{
    border:2px solid rgb(232, 226, 226);
    
}
.main2{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.main3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    margin:auto;
}

.main4{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.main5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    margin:auto; 
}
.projects{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: black;
    color:white;
}
    